@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Global Styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f9fafb;
}

button {
  cursor: pointer;
}

input {
  outline: none;
}

button:focus, input:focus {
  border-color: #4b8b3b;
}
